.container {
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 14px;
  font-weight: 500;
  color: #3b98c0;
  font-size: 20px;
  transition: all 250ms linear;
  cursor: pointer;
}
.link :hover {
  transform: scale(0.9);
}
