body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main_a {
  text-decoration: none;
  color: #080808;
}
main a:hover {
  text-decoration: underline;
}

.active {
  color: #0e37ec;
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.address {
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
.container {
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 320px) {
    width: 320px;
    padding: 20px;
    align-items: center;
    display: block;
  }
  /* @media screen and (min-width: 480px) {
    width: 320px;
    padding: 20px;
    display: block;
    justify-content: center;
    align-items: center;
  } */

  @media screen and (min-width: 768px) {
    width: 648px;
    padding: 60px 15px;
  }

  @media screen and (min-width: 1024px) {
    width: 912px;
    padding: 60px 15px;
  }
}
